<footer class="container-fluid">
    <div class="footer-header container d-flex justify-content-between align-items-center flex-wrap">
        <div class="py-5 footer-header">
            <h1 class="section-subtitle fw-bold text-white text-start"> Đăng ký để nhận những ưu đãi hấp dẫn </h1>
            <p class="footer-header__subtitle text-white">Chúng tôi luôn có ưu đãi dành riêng cho bạn. Đăng ký ngay nào!</p>
        </div>
        <div class="footer-header__search-bar">
            <input type="text" placeholder="Nhập email của bạn" />
            <a class="btn-sub" href="#">Đăng ký</a>
        </div>
    </div>
    <hr />
    <div class="footer-content container">
        <div class="web-info pt-5 pb-5 row">
            <div class="web-info__col col-12 col-sm-6 col-xxl-4">
                <h1 class="section-subtitle-footer">Về chúng tôi</h1>
                <hr class="mb-4"/>
                <p>Công Ty Cổ Phần Công nghệ BBYTES, Chuyên cung cấp giải pháp chuyển đổi số doanh nghiệp, thiết kế app mobile, phần mềm quản lý, digital marketing. Giải pháp tối ưu cho doanh nghiệp.</p>
                <div class="web-info__col-social">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-pinterest"></i>
                    <i class="fa-brands fa-linkedin"></i>
                </div>
            </div>

            <div class="web-info__col col-12 col-sm-6 col-xl-2">
                <h1 class="section-subtitle-footer">Sản phẩm</h1>
                <hr class="mb-4"/>
                <ul>
                    <li><a href="services_detail.html">Thiết kế Web App</a></li>
                    <li><a href="services_detail.html">Xây dựng website</a></li>
                    <li><a href="services_detail.html">Dịch vụ mạng</a></li>
                    <li><a href="services_detail.html">Dịch vụ SEO</a></li>
                    <li><a href="services_detail.html">Xây dựng ứng dụng di động</a></li>
                    <li><a href="services_detail.html">Phục hồi dữ liệu</a></li>
                </ul>
                
            </div>

            <div class="web-info__col col-12 col-sm-6 col-xl-2">
                <h1 class="section-subtitle-footer">Đường dẫn</h1>
                <hr class="mb-4"/>
                <ul>
                    <li><a href="about.html">Giới thiệu</a></li>
                    <li><a href="#">Đối tác</a></li>
                    <li><a href="contact-us.html">Liên hệ</a></li>
                    <li><a href="#">Chính sách bảo mật</a></li>
                    <li><a href="#">Tuyển dụng</a></li>
                </ul>
                
            </div>

            <div class="web-info__col col-12 col-sm-6 col-xl-4">
                <h1 class="section-subtitle-footer">Thông tin liên hệ</h1>
                <hr class="mb-4"/>
                <div class="web-info-col__contact-item d-flex gap-3">
                    <img src="img/ic_f_phone.png" title="ic_f_phone" alt=""/> 
                    <div>
                        <h2>Số điện thoại</h2>
                        <h4><a href="tel:+84978085495">0978 085 495</a></h4>
                    </div>
                </div>

                <div class="web-info-col__contact-item d-flex gap-3">
                    <img src="img/ic_f_mail.png" title="ic_f_mail"/> 
                    <div>
                        <h2>Email</h2>
                        <h4><a href="mailto:Support@bbytesolutions.com">Support@bbytesolutions.com</a></h4>
                    </div>
                </div>

                <div class="web-info-col__contact-item d-flex gap-3">
                    <img src="img/ic_f_address.png" title="ic_f_address" /> 
                    <div>
                        <h2>Địa chỉ</h2>
                        <h4>Tây Hồ, Hà Nội, Việt Nam</h4>
                    </div>
                </div>
               
                
            </div>
           
        </div>
        

    </div>
    <div class="footer-footer">
        <div class="container d-flex justify-content-between">
            <p><i class="far fa-copyright"></i> 2021 BBYTES - All Rights Reserved.</p>
            <div class="d-flex gap-2"><p>Terms & Conditions</p> <code>|</code> <p>Privacy Policy</p></div>
        </div>
            
    </div>
</footer>